{% for post in posts_list %}
<div class="art-container">
			<article class="articulo">
				<div class="visual-container">
						<img class="visual" src="{{ post.url }}" alt="Imagen" height="200">
				</div>
				<div class="text-container">
					<h2 class="art-headline">{{ post.titulo }}</h2>
					<p class="art-text"> {{ post.intro }}</p>
					<a class="read-more" href="/blogs/{{ post.owner.username }}/{{ post.pk }}">Leer más</a>
				</div>
                <hr>
			</article>
    </div>
{% endfor %}